:root {
    --pale-pink: #f7d1cdff;
    --queen-pink: #e8c2caff;
    --thistle: #d1b3c4ff;
    --glossy-grape: #b392acff;
    --old-lavender: #735d78ff;
    --independence: #3a405aff;
    }
    
.header {
        width: 100%;
        min-height: 40px;
        padding-left: 14%;
        padding-right: 0%;
        padding-top: 1%;
        padding-bottom: 1%;
        box-sizing: border-box;
        overflow: hidden;
        background-color: white;
      }

.navbar {
        width: 100%;
        display: flex;
        align-items: center; 
      }
      
.logo {
        width: 100px;
        cursor: pointer;
      }